:root {
  /* --color-primary: #E2725B; */
  /* --color-primary: #D81E12; */
  --color-secondary: #3c486b;
  --color1: #6b7b8c;
  --color-primary: #005ea6;
  --color3: cyan;
  --color4: #e2725b;
  --color5: #ff6d00;
  --color6: #f3fefe;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 5rem;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.button-primary {
  border: none;
  color: white;
  background-color: var(--color-primary);
  width: 120px;
  height: 35px;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.pattern {
  position: absolute;
}

.pattern1 {
  top: 95vh;
  left: 100vw;
  translate: -120% -100%;
}

.pattern2 {
  top: 0;
  translate: -100px -50px;
  z-index: 1;
}

.div-margin-left {
  margin-left: 3.5rem;
}

#logo-div {
  text-align: center;
  background-color: #fafafa;
}

#hero-section {
  background-color: #fafafa;
}

.hero-cont {
  max-width: 1350px;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

#hero-div {
  justify-content: center;
  position: relative;
}

#hero-image-div {
  background-image: url(./assets/seaside-sand-landscape-island-ocean.webp);
  height: 83vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

#hero-image-div-2 {
  animation-name: slider;
  animation-duration: 10s;
  /* animation-timing-function: ease; */
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
  animation-delay: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  top: 0;
  background-image: url(./assets/hammocks-with-palm-trees.jpg);
  height: 83vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  /* z-index: -1; */
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

#hero-text-div {
  flex-basis: 55%;
  position: relative;
  color: white;
  margin-left: 5rem;
}

#hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  padding-top: 9rem;
}

@keyframes slider {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

  /* 50% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    } */
}

@keyframes slider2 {
  0% {
  }

  100% {
    translate: 0 0;
  }
}

#box {
  text-align: center;
  border: 1px solid black;
  background-color: #fafafa;
}

#box h2 {
  text-align: left;
}

#section-div-2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#what-to-expect-p {
  text-align: center;
  font-size: 3rem;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  color: #005e86;
  font-weight: 500;
}

.experience-card-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.experience-card-div > div {
  margin-top: 2rem;
  flex-grow: 0;
}

.experience-image-div {
  width: 275px;
  height: 350px;
  overflow: hidden;
}

.experience-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.experience-text-div {
  max-width: 275px;
}

.experience-image-div img:hover {
  scale: 1.05;
}

#section-div-3 {
  padding-top: 5rem;
  background-color: #fafafa;
  text-align: center;
  color: #005e86;
}

#section-div-3 h2 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

#section-div-3 .p {
  text-align: center;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  color: black;
}

#section-div-3 input {
  width: 300px;
  border: 2px solid #005e86;
  padding: 0.5rem;
  margin-top: 2rem;
}

#section-div-3 button {
  margin-left: 0.5rem;
  height: 35px;
  width: 70px;
  border: 1px solid transparent;
  background-color: #005e86;
  color: white;
}

#section-div-3 button:hover {
  border: 2px solid #005e86;
  background-color: transparent;
  color: #005e86;
  cursor: pointer;
}

footer {
  background-color: #fafafa;
  /* padding: 5rem 0; */
  padding-top: 2rem;
  padding-bottom: 5rem;
}

#contact-us-div {
  text-align: center;
  margin-bottom: 2rem;
}

#socials-div {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

#socials-div img {
  fill: #005e86;
}

@media screen and (max-width: 1270px) {
  .container {
    margin: 0 5rem;
  }

  .experience-card-div {
    flex-wrap: wrap;
  }

  .experience-image-div {
    margin-top: 2rem;
    width: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .experience-image-div {
    margin-top: 2rem;
    width: 450px;
  }

  .experience-text-div {
    max-width: 300px;
  }
}

@media screen and (max-width: 1085px) {
  .experience-card-div {
    flex-direction: column;
  }

  .experience-card-div > div {
    flex-grow: 1;
  }

  .experience-image-div {
    width: 100%;
  }

  #flight-img,
  #visa-img {
    object-position: top;
  }

  #visa-img {
    object-position: 0 20%;
  }
}

@media screen and (max-width: 900px) {
  .pattern2 {
    width: 200px;
  }

  .container {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 700px) {
  #hero-text-div {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 600px) {
  #hero-text-div h1 {
    font-size: 4rem;
  }

  #what-to-expect-p {
    font-size: 2rem;
  }

  #section-div-3 h2 {
    font-size: 2rem;
  }

  .p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .pattern2 {
    width: 200px;
  }

  #hero-text-div {
    margin-left: 1rem;
  }

  #hero-text-div h1 {
    font-size: 4rem;
  }

  #section-div-3 input {
    width: 200px;
  }

  #section-div-3 button {
    margin-top: 1rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 420px) {
  .experience-image-div {
    height: 200px;
  }

  .pattern2 {
    width: 150px;
  }

  #hero-text-div h1 {
    font-size: 3rem;
  }
}
